@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    to bottom right,
    rgb(82, 68, 38),
    rgb(119, 102, 66)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 60px;
  margin: 0 0 40px;
}

.year {
  font-size: 150px;
  z-index: -1;
  opacity: 0.4;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
  display: none;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.time h2 {
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }

  .countdown {
    transform: scale(1.5);
  }

  .time {
    margin: 5px;
  }
}
